.carousel .carousel-item {
    height: 700px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 700px;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.carousel-item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel-caption h5 {
    font-size: 35pt;   
}

.servicos h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}


.card-deck {
    margin-top: 50px;
    margin-bottom: 50px;
}

.contato {
    background-color: #1b2838;
    color: white;
}

.contato h1 {
    padding: 25px; 
}

.contato h5 {
    margin-bottom: 20px;
}

.servicos .img {
    height: 50px;
}

.contato .btn {
    margin-bottom: 20px;
}



