.carousel .carousel-item {
    height: 700px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 700px;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.carousel-item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel-caption h5 {
    font-size: 40pt;   
}

.servicos {
    height: 400px;
}
.servicos h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}


.card-deck {
    margin-top: 100px;
}

.contato {
    height: 550px;
    background-color: #1b2838;
    color: white;
}

.contato h1 {
    padding: 30px; 
}

.form-control {
    margin: 15px;
    padding: 25px;
}

.servicos .img {
    height: 50px;
}

